<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <bean class="com.fis.entity.Student" name="stu1" p:studentId="1" p:name="john" 
		p:age="25" p:phoneNumbers="1,2,3,4" /> -->

	<bean class="com.fis.entity.Student" name="stu2">
		<property name="studentId" value="2" />
		<property name="name" value="kenny" />
		<property name="age" value="24" />
		<property name="phoneNumbers">
			<list>
				<value>12313123</value>
				<value>12313123</value>
				<value>12313123</value>
				<value>12313123</value>
				<value>12313123</value>
			</list>
		</property>
		<property name="courses">
			<map>

				<entry key="1" value="go" />
				<entry key="2" value="python" />
				<entry key="3" value="c++" />
				<entry key="4" value="scala" />
			</map>

		</property>
		<property name="address">
			<ref bean="add2" />
		</property>
	</bean>

	<bean class="com.fis.entity.Address" name="add1">
		<property name="pincode" value="123456" />
		<property name="city" value="exo planet 90" />
	</bean>
	<bean class="com.fis.entity.Address" name="add2">
		<constructor-arg>
			<value>123456</value>
		</constructor-arg>
		<constructor-arg>
			<value>exo planet 91</value>
		</constructor-arg>
	</bean>


</beans>

